@import url("https://fonts.googleapis.com/css?family=News+Cycle&display=swap");

body {
  text-align: center;
  font-family: "News Cycle", sans-serif;
  color: #3a3e3f;
  margin: 0;
  align-content: center;
}

h1 {
  margin-top: 0;
}

h2 {
  margin: 0;
}

.newsitem {
  border: 1px solid #3a3e3f;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 50%;
}

.App-header {
  background-color: gray;
  padding: 0px;
  min-width: 100%;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.newsarticle {
  margin-bottom: 1rem;
  margin-left: 20%;
  margin-right: 20%;
  padding: 0.5rem;
  box-shadow: 5px 5px 5px grey;
  border-radius: 5px;
  background-color: #eaeaea;
}

.alignleft {
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  .newsarticle {
    margin-left: 3%;
    margin-right: 3%;
  }
}
